* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
}

.bg {
  position: absolute;
  top: -20vh;
  right: 0vw;
  z-index: -1;
  width: 50vw;
  height: 150vh;
}

header nav {
  width: 100%;
}
header nav ul {
  padding: 2rem;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
header nav ul li {
  font-size: 1.8rem;
}
header nav ul li a {
  color: #000;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main section.left {
  flex: 3 1 500px;
  margin: 5vh 2rem;
}
main section.left h1 {
  color: #e08958;
  font-size: 4rem;
}
main section.left p {
  font-size: 1.5rem;
  padding: 1rem 0rem;
}
main section.right {
  flex: 1 1 700px;
  position: relative;
}
main section.right img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 20vw;
  height: 20vw;
  position: absolute;
  top: 25vh;
  right: 20vw;
}
main section.table {
  flex: 3 1 800px;
  padding: 2rem;
}
main section.table table {
  border-collapse: collapse;
}
main section.table table tr:first-child {
  border-top: 2px solid #888;
}
main section.table table tr {
  border-bottom: 2px solid #888;
  transition: all 0.2s case;
  -webkit-transition: all 0.2s case;
  -moz-transition: all 0.2s case;
  -ms-transition: all 0.2s case;
  -o-transition: all 0.2s case;
}
main section.table table tr td {
  padding: 1rem;
}
main section.table table tr td ul {
  list-style-type: none;
}
main section.table table tr td.skills img {
  width: 4vw;
}
main section.table table tr:hover {
  background-color: #f6dccd;
}
main section.picture {
  flex: 1 1 400px;
  position: relative;
  padding: 2rem;
}
main section.picture img {
  width: 20vw;
}
main section.picture div.bgRect {
  width: 20vw;
  height: 60vh;
  background-color: #e08958;
  position: absolute;
  top: 80px;
  left: 90px;
  z-index: -1;
}
main section.form {
  flex: 1 1 600px;
  padding: 1rem;
}
main section.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section.form form div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  width: 100%;
}
main section.form form div label {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
main section.form form div input,
main section.form form div textarea {
  background-color: #f6dccd;
  border: none;
  font-size: 1.25rem;
  padding: 0.25rem 0.8rem;
  width: 80%;
}
main section.form form button {
  background-color: #e08958;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
main section.line {
  background-color: #888;
  width: 2px;
  margin: 1rem 2rem;
}
main section.contact {
  margin: 1rem 0;
  flex: 1 1 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main section.contact div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section.contact div.content h2 {
  margin: 0.5rem 0rem;
}
main section.contact div.content div.icons a img {
  max-width: 80px;
}

.active {
  color: #e08958;
}

@media screen and (max-width: 1200px) {
  .bg {
    opacity: 0.5;
    height: 130vh;
  }
  header nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header nav ul li {
    padding: 0.2rem 0rem;
    border-bottom: 2px solid #888;
    font-size: 1.2rem;
  }
  main section.left h1 {
    font-size: 3rem;
  }
  main section.left p {
    font-size: 1.2rem;
  }
  main section.right {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  main section.right img {
    position: static;
    width: 50vw;
    height: 50vw;
  }
  main section.table {
    padding: 1rem;
  }
  main section.table table tr td.skills img {
    width: 10vw;
  }
  main section.picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  main section.picture img {
    width: 50vw;
    max-width: 350px;
    margin-bottom: 1rem;
  }
  main section.picture div.bgRect {
    display: none;
  }
  main section.line {
    display: none;
  }
  main section.contact div.content h2 {
    font-size: 1rem;
    margin: 0.2rem 0;
  }
  main section.contact div.content div.icons a img {
    width: 15vw;
  }
}/*# sourceMappingURL=style.css.map */